cleanup = true
conda.enabled = true
params {
    platform                = "illumina" // illumina or ont
    out_dir                 = "/kattegat/analysis/2023.07.19_paxlovid"
    threads                 = 25
    coding_region           = "NC_045512.2:266-29674"
    
    // illumina options
    bcl_dir                 = "/kattegat/fastq/2023-07-19/230719_A01255_0241_AH3CLNDRX3"
    bcl_sample_sheet        = "/kattegat/fastq/2023-07-19/230719_A01255_0241_AH3CLNDRX3/samplesheet_paxlovid.csv"
    bed_file                = "/home/al/data/hcov19/primers/primer_2021-02-01/SARS2_short_primers_V7_no_adapter_sequences.bed"
    gff3_file               = "/home/al/data/hcov19/gff/NC_045512.2.gff3"
    ref_fasta               = "/home/al/data/hcov19/NC045512.fasta"

    illumina {
        reference = "/home/gk/code/hCoV19/db/NC045512_bwa"
    }

    // ont options
    fast5                   = null //"/kattegat/fast5/2023-04-17_HepA/fast5"
    barcode_samplesheet     = null //"~/alison_test/bwa_pipeline/ont_samplesheet_test.tsv"
    ont_barcodes            = "~/ONT_barcodes_48.fasta"
    scheme_directory        = "~/SARS_ONT_230526/primer_schemes/"
    scheme                  = "SARS/V9"
    guppy_path              = "/home/gk/code/ont-guppy-3.4.5/bin" 
    guppy_config            = "dna_r9.4.1_450bps_fast.cfg" 
    basecall_device         = "cuda:0"
    min_readlen             = 900
    max_readlen             = 1500
    medaka_model            = "r941_min_high_g303"
    normalize               = 200
}

workDir = "${params.out_dir}/work"