cleanup = true
conda.enabled = true
docker.enabled = true
params {
    platform                = "illumina" // illumina or ont
    out_dir                 = ""
    threads                 = 
    coding_region           = "NC_045512.2:266-29674"
    
    // illumina options
    bcl_dir                 = ""
    fastq                   = ""
    bcl_sample_sheet        = ""
    bed_file                = ""
    gff3_file               = ""
    ref_fasta               = ""

    illumina {
        reference = ""
    }

    // ont options
    fast5                   = null 
    barcode_samplesheet     = null 
    ont_barcodes            = ""
    scheme_directory        = ""
    scheme                  = ""
    guppy_path              = "" 
    guppy_config            = "" 
    basecall_device         = ""
    min_readlen             = 
    max_readlen             = 
    medaka_model            = ""
    normalize               = 
}

workDir = "${params.out_dir}/work"
