cleanup = true
conda.enabled = true
docker.enabled = true
params {
    platform                = "illumina" // illumina or ont or element
    out_dir                 = ""
    threads                 = 
    coding_region           = "NC_045512.2:266-29674"
    
    // illumina options
    bcl_dir                 = ""
    fastq                   = ""
    bcl_sample_sheet        = ""
    bed_file                = ""
    gff3_file               = ""
    ref_fasta               = ""

    illumina {
        reference = ""
    }

    // ont options
    fast5                   = null 
    pod5                    = ""
    barcode_samplesheet     = ""
    ont_barcodes            = ""
    scheme_directory        = ""
    scheme                  = ""
    basecall_device         = ""
    min_readlen             = 
    max_readlen             = 
    medaka_model            = ""
    normalize               = 

    dorado_model            = ""
    dorado_path             = ""
    dorado_samplesheet      = ""
    dorado_barcode_kit      = ""

    // element options
    element_input           = ""
}

workDir = "${params.out_dir}/work"
